@font-face {
    font-family: 'Brandon text bold';
    src: url('fonts/hvd_fonts_-_brandontext-bold-webfont.eot');
    src: url('fonts/hvd_fonts_-_brandontext-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hvd_fonts_-_brandontext-bold-webfont.woff') format('woff'),
         url('fonts/hvd_fonts_-_brandontext-bold-webfont.ttf') format('truetype'),
         url('fonts/hvd_fonts_-_brandontext-bold-webfont.svg#brandon_textbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Brandon text medium';
    src: url('fonts/hvd_fonts_-_brandontext-medium-webfont.eot');
    src: url('fonts/hvd_fonts_-_brandontext-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hvd_fonts_-_brandontext-medium-webfont.woff') format('woff'),
         url('fonts/hvd_fonts_-_brandontext-medium-webfont.ttf') format('truetype'),
         url('fonts/hvd_fonts_-_brandontext-medium-webfont.svg#brandon_textmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Brandon text';
    src: url('fonts/hvd_fonts_-_brandontext-regular-webfont.eot');
    src: url('fonts/hvd_fonts_-_brandontext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hvd_fonts_-_brandontext-regular-webfont.woff') format('woff'),
         url('fonts/hvd_fonts_-_brandontext-regular-webfont.ttf') format('truetype'),
         url('fonts/hvd_fonts_-_brandontext-regular-webfont.svg#brandon_text_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Brandon text black italic';
    src: url('fonts/hvd_fonts_-_brandontext-blackitalic-webfont.eot');
    src: url('fonts/hvd_fonts_-_brandontext-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hvd_fonts_-_brandontext-blackitalic-webfont.woff') format('woff'),
         url('fonts/hvd_fonts_-_brandontext-blackitalic-webfont.ttf') format('truetype'),
         url('fonts/hvd_fonts_-_brandontext-blackitalic-webfont.svg#brandon_textblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Brandon text bold italic';
    src: url('fonts/hvd_fonts_-_brandontext-bolditalic-webfont.eot');
    src: url('fonts/hvd_fonts_-_brandontext-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hvd_fonts_-_brandontext-bolditalic-webfont.woff') format('woff'),
         url('fonts/hvd_fonts_-_brandontext-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/hvd_fonts_-_brandontext-bolditalic-webfont.svg#brandon_textbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Brandon text italic';
    src: url('fonts/hvd_fonts_-_brandontext-regularitalic-webfont.eot');
    src: url('fonts/hvd_fonts_-_brandontext-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hvd_fonts_-_brandontext-regularitalic-webfont.woff') format('woff'),
         url('fonts/hvd_fonts_-_brandontext-regularitalic-webfont.ttf') format('truetype'),
         url('fonts/hvd_fonts_-_brandontext-regularitalic-webfont.svg#brandon_textregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}