meta.foundation-version {
  font-family: "/5.2.1/"; }

meta.foundation-mq-small {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0em; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.063em)/";
  width: 40.063em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.063em)/";
  width: 64.063em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.063em)/";
  width: 90.063em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.063em)/";
  width: 120.063em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }



.row {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  *zoom: 1;
  max-width:420px;
  margin:0px auto;}
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse > .column,
  .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row .row {
    width: auto;
    margin-left: -0.9375em;
    margin-right: -0.9375em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 380px;
    *zoom: 1; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      width: auto;
      margin: 0;
      max-width: none;
      *zoom: 1; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        display: table; }
      .row .row.collapse:after {
        clear: both; }

.column,
.columns {
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left; }

@media only screen {
  .column.small-centered,
  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.small-uncentered,
  .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right; }

  .small-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .small-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .small-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .small-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .small-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .small-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .small-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .small-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .small-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .small-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .small-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .small-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .small-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .small-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .small-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .small-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .small-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .small-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .small-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .small-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .small-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .small-1 {
    width: 8.33333%; }

  .small-2 {
    width: 16.66667%; }

  .small-3 {
    width: 25%; }

  .small-4 {
    width: 33.33333%; }

  .small-5 {
    width: 41.66667%; }

  .small-6 {
    width: 50%; }

  .small-7 {
    width: 58.33333%; }

  .small-8 {
    width: 66.66667%; }

  .small-9 {
    width: 75%; }

  .small-10 {
    width: 83.33333%; }

  .small-11 {
    width: 91.66667%; }

  .small-12 {
    width: 100%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .small-offset-0 {
    margin-left: 0% !important; }

  .small-offset-1 {
    margin-left: 8.33333% !important; }

  .small-offset-2 {
    margin-left: 16.66667% !important; }

  .small-offset-3 {
    margin-left: 25% !important; }

  .small-offset-4 {
    margin-left: 33.33333% !important; }

  .small-offset-5 {
    margin-left: 41.66667% !important; }

  .small-offset-6 {
    margin-left: 50% !important; }

  .small-offset-7 {
    margin-left: 58.33333% !important; }

  .small-offset-8 {
    margin-left: 66.66667% !important; }

  .small-offset-9 {
    margin-left: 75% !important; }

  .small-offset-10 {
    margin-left: 83.33333% !important; }

  .small-offset-11 {
    margin-left: 91.66667% !important; }

  .small-reset-order,
  .small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; } }
@media only screen and (min-width: 40.063em) {
  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.medium-uncentered,
  .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right; }

  .medium-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .medium-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .medium-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .medium-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .medium-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .medium-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .medium-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .medium-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .medium-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .medium-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .medium-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .medium-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .medium-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .medium-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .medium-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .medium-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .medium-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .medium-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .medium-1 {
    width: 8.33333%; }

  .medium-2 {
    width: 16.66667%; }

  .medium-3 {
    width: 25%; }

  .medium-4 {
    width: 33.33333%; }

  .medium-5 {
    width: 41.66667%; }

  .medium-6 {
    width: 50%; }

  .medium-7 {
    width: 58.33333%; }

  .medium-8 {
    width: 66.66667%; }

  .medium-9 {
    width: 75%; }

  .medium-10 {
    width: 83.33333%; }

  .medium-11 {
    width: 91.66667%; }

  .medium-12 {
    width: 100%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .medium-offset-0 {
    margin-left: 0% !important; }

  .medium-offset-1 {
    margin-left: 8.33333% !important; }

  .medium-offset-2 {
    margin-left: 16.66667% !important; }

  .medium-offset-3 {
    margin-left: 25% !important; }

  .medium-offset-4 {
    margin-left: 33.33333% !important; }

  .medium-offset-5 {
    margin-left: 41.66667% !important; }

  .medium-offset-6 {
    margin-left: 50% !important; }

  .medium-offset-7 {
    margin-left: 58.33333% !important; }

  .medium-offset-8 {
    margin-left: 66.66667% !important; }

  .medium-offset-9 {
    margin-left: 75% !important; }

  .medium-offset-10 {
    margin-left: 83.33333% !important; }

  .medium-offset-11 {
    margin-left: 91.66667% !important; }

  .medium-reset-order,
  .medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  .push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }
@media only screen and (min-width: 64.063em) {
  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right; }

  .large-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .large-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .large-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .large-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .large-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left; }

  .large-1 {
    width: 8.33333%; }

  .large-2 {
    width: 16.66667%; }

  .large-3 {
    width: 25%; }

  .large-4 {
    width: 33.33333%; }

  .large-5 {
    width: 41.66667%; }

  .large-6 {
    width: 50%; }

  .large-7 {
    width: 58.33333%; }

  .large-8 {
    width: 66.66667%; }

  .large-9 {
    width: 75%; }

  .large-10 {
    width: 83.33333%; }

  .large-11 {
    width: 91.66667%; }

  .large-12 {
    width: 100%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .large-offset-0 {
    margin-left: 0% !important; }

  .large-offset-1 {
    margin-left: 8.33333% !important; }

  .large-offset-2 {
    margin-left: 16.66667% !important; }

  .large-offset-3 {
    margin-left: 25% !important; }

  .large-offset-4 {
    margin-left: 33.33333% !important; }

  .large-offset-5 {
    margin-left: 41.66667% !important; }

  .large-offset-6 {
    margin-left: 50% !important; }

  .large-offset-7 {
    margin-left: 58.33333% !important; }

  .large-offset-8 {
    margin-left: 66.66667% !important; }

  .large-offset-9 {
    margin-left: 75% !important; }

  .large-offset-10 {
    margin-left: 83.33333% !important; }

  .large-offset-11 {
    margin-left: 91.66667% !important; }

  .large-reset-order,
  .large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  .push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  .pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }
[class*="block-grid-"] {
  display: block;
  padding: 0;
  margin: 0;
  *zoom: 1; }
  [class*="block-grid-"]:before, [class*="block-grid-"]:after {
    content: " ";
    display: table; }
  [class*="block-grid-"]:after {
    clear: both; }
  [class*="block-grid-"] > li {
    display: block;
    height: auto;
    float: left;
    padding: 0 0.9375em 1.875em; }

@media only screen {
  .small-block-grid-1 > li {
    width: 100%;
    list-style: none; }
    .small-block-grid-1 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }
    .small-block-grid-1 > li:nth-child(1n) {
      padding-left: 0em;
      padding-right: 0em; }

  .small-block-grid-2 > li {
    width: 50%;
    list-style: none; }
    .small-block-grid-2 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }
    .small-block-grid-2 > li:nth-child(2n+1) {
      padding-left: 0em;
      padding-right: 0.9375em; }
    .small-block-grid-2 > li:nth-child(2n) {
      padding-left: 0.9375em;
      padding-right: 0em; }

  .small-block-grid-3 > li {
    width: 33.33333%;
    list-style: none; }
    .small-block-grid-3 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }
    .small-block-grid-3 > li:nth-child(3n+1) {
      padding-left: 0em;
      padding-right: 1.25em; }
    .small-block-grid-3 > li:nth-child(3n+2) {
      padding-left: 0.625em;
      padding-right: 0.625em; }
    .small-block-grid-3 > li:nth-child(3n) {
      padding-left: 1.25em;
      padding-right: 0em; }

  .small-block-grid-4 > li {
    width: 25%;
    list-style: none; }
    .small-block-grid-4 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }
    .small-block-grid-4 > li:nth-child(4n+1) {
      padding-left: 0em;
      padding-right: 1.40625em; }
    .small-block-grid-4 > li:nth-child(4n+2) {
      padding-left: 0.46875em;
      padding-right: 0.9375em; }
    .small-block-grid-4 > li:nth-child(4n+3) {
      padding-left: 0.9375em;
      padding-right: 0.46875em; }
    .small-block-grid-4 > li:nth-child(4n) {
      padding-left: 1.40625em;
      padding-right: 0em; }

  .small-block-grid-5 > li {
    width: 20%;
    list-style: none; }
    .small-block-grid-5 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }
    .small-block-grid-5 > li:nth-child(5n+1) {
      padding-left: 0em;
      padding-right: 1.5em; }
    .small-block-grid-5 > li:nth-child(5n+2) {
      padding-left: 0.375em;
      padding-right: 1.125em; }
    .small-block-grid-5 > li:nth-child(5n+3) {
      padding-left: 0.75em;
      padding-right: 0.75em; }
    .small-block-grid-5 > li:nth-child(5n+4) {
      padding-left: 1.125em;
      padding-right: 0.375em; }
    .small-block-grid-5 > li:nth-child(5n) {
      padding-left: 1.5em;
      padding-right: 0em; }

  .small-block-grid-6 > li {
    width: 16.66667%;
    list-style: none; }
    .small-block-grid-6 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }
    .small-block-grid-6 > li:nth-child(6n+1) {
      padding-left: 0em;
      padding-right: 1.5625em; }
    .small-block-grid-6 > li:nth-child(6n+2) {
      padding-left: 0.3125em;
      padding-right: 1.25em; }
    .small-block-grid-6 > li:nth-child(6n+3) {
      padding-left: 0.625em;
      padding-right: 0.9375em; }
    .small-block-grid-6 > li:nth-child(6n+4) {
      padding-left: 0.9375em;
      padding-right: 0.625em; }
    .small-block-grid-6 > li:nth-child(6n+5) {
      padding-left: 1.25em;
      padding-right: 0.3125em; }
    .small-block-grid-6 > li:nth-child(6n) {
      padding-left: 1.5625em;
      padding-right: 0em; }

  .small-block-grid-7 > li {
    width: 14.28571%;
    list-style: none; }
    .small-block-grid-7 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }
    .small-block-grid-7 > li:nth-child(7n+1) {
      padding-left: 0em;
      padding-right: 1.60714em; }
    .small-block-grid-7 > li:nth-child(7n+2) {
      padding-left: 0.26786em;
      padding-right: 1.33929em; }
    .small-block-grid-7 > li:nth-child(7n+3) {
      padding-left: 0.53571em;
      padding-right: 1.07143em; }
    .small-block-grid-7 > li:nth-child(7n+4) {
      padding-left: 0.80357em;
      padding-right: 0.80357em; }
    .small-block-grid-7 > li:nth-child(7n+5) {
      padding-left: 1.07143em;
      padding-right: 0.53571em; }
    .small-block-grid-7 > li:nth-child(7n+6) {
      padding-left: 1.33929em;
      padding-right: 0.26786em; }
    .small-block-grid-7 > li:nth-child(7n) {
      padding-left: 1.60714em;
      padding-right: 0em; }

  .small-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
    .small-block-grid-8 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }
    .small-block-grid-8 > li:nth-child(8n+1) {
      padding-left: 0em;
      padding-right: 1.64063em; }
    .small-block-grid-8 > li:nth-child(8n+2) {
      padding-left: 0.23438em;
      padding-right: 1.40625em; }
    .small-block-grid-8 > li:nth-child(8n+3) {
      padding-left: 0.46875em;
      padding-right: 1.17188em; }
    .small-block-grid-8 > li:nth-child(8n+4) {
      padding-left: 0.70313em;
      padding-right: 0.9375em; }
    .small-block-grid-8 > li:nth-child(8n+5) {
      padding-left: 0.9375em;
      padding-right: 0.70313em; }
    .small-block-grid-8 > li:nth-child(8n+6) {
      padding-left: 1.17188em;
      padding-right: 0.46875em; }
    .small-block-grid-8 > li:nth-child(8n+7) {
      padding-left: 1.40625em;
      padding-right: 0.23438em; }
    .small-block-grid-8 > li:nth-child(8n) {
      padding-left: 1.64063em;
      padding-right: 0em; }

  .small-block-grid-9 > li {
    width: 11.11111%;
    list-style: none; }
    .small-block-grid-9 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }
    .small-block-grid-9 > li:nth-child(9n+1) {
      padding-left: 0em;
      padding-right: 1.66667em; }
    .small-block-grid-9 > li:nth-child(9n+2) {
      padding-left: 0.20833em;
      padding-right: 1.45833em; }
    .small-block-grid-9 > li:nth-child(9n+3) {
      padding-left: 0.41667em;
      padding-right: 1.25em; }
    .small-block-grid-9 > li:nth-child(9n+4) {
      padding-left: 0.625em;
      padding-right: 1.04167em; }
    .small-block-grid-9 > li:nth-child(9n+5) {
      padding-left: 0.83333em;
      padding-right: 0.83333em; }
    .small-block-grid-9 > li:nth-child(9n+6) {
      padding-left: 1.04167em;
      padding-right: 0.625em; }
    .small-block-grid-9 > li:nth-child(9n+7) {
      padding-left: 1.25em;
      padding-right: 0.41667em; }
    .small-block-grid-9 > li:nth-child(9n+8) {
      padding-left: 1.45833em;
      padding-right: 0.20833em; }
    .small-block-grid-9 > li:nth-child(9n) {
      padding-left: 1.66667em;
      padding-right: 0em; }

  .small-block-grid-10 > li {
    width: 10%;
    list-style: none; }
    .small-block-grid-10 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }
    .small-block-grid-10 > li:nth-child(10n+1) {
      padding-left: 0em;
      padding-right: 1.6875em; }
    .small-block-grid-10 > li:nth-child(10n+2) {
      padding-left: 0.1875em;
      padding-right: 1.5em; }
    .small-block-grid-10 > li:nth-child(10n+3) {
      padding-left: 0.375em;
      padding-right: 1.3125em; }
    .small-block-grid-10 > li:nth-child(10n+4) {
      padding-left: 0.5625em;
      padding-right: 1.125em; }
    .small-block-grid-10 > li:nth-child(10n+5) {
      padding-left: 0.75em;
      padding-right: 0.9375em; }
    .small-block-grid-10 > li:nth-child(10n+6) {
      padding-left: 0.9375em;
      padding-right: 0.75em; }
    .small-block-grid-10 > li:nth-child(10n+7) {
      padding-left: 1.125em;
      padding-right: 0.5625em; }
    .small-block-grid-10 > li:nth-child(10n+8) {
      padding-left: 1.3125em;
      padding-right: 0.375em; }
    .small-block-grid-10 > li:nth-child(10n+9) {
      padding-left: 1.5em;
      padding-right: 0.1875em; }
    .small-block-grid-10 > li:nth-child(10n) {
      padding-left: 1.6875em;
      padding-right: 0em; }

  .small-block-grid-11 > li {
    width: 9.09091%;
    list-style: none; }
    .small-block-grid-11 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }
    .small-block-grid-11 > li:nth-child(11n+1) {
      padding-left: 0.0em;
      padding-right: 1.70455em; }
    .small-block-grid-11 > li:nth-child(11n+2) {
      padding-left: 0.17045em;
      padding-right: 1.53409em; }
    .small-block-grid-11 > li:nth-child(11n+3) {
      padding-left: 0.34091em;
      padding-right: 1.36364em; }
    .small-block-grid-11 > li:nth-child(11n+4) {
      padding-left: 0.51136em;
      padding-right: 1.19318em; }
    .small-block-grid-11 > li:nth-child(11n+5) {
      padding-left: 0.68182em;
      padding-right: 1.02273em; }
    .small-block-grid-11 > li:nth-child(11n+6) {
      padding-left: 0.85227em;
      padding-right: 0.85227em; }
    .small-block-grid-11 > li:nth-child(11n+7) {
      padding-left: 1.02273em;
      padding-right: 0.68182em; }
    .small-block-grid-11 > li:nth-child(11n+8) {
      padding-left: 1.19318em;
      padding-right: 0.51136em; }
    .small-block-grid-11 > li:nth-child(11n+9) {
      padding-left: 1.36364em;
      padding-right: 0.34091em; }
    .small-block-grid-11 > li:nth-child(11n+10) {
      padding-left: 1.53409em;
      padding-right: 0.17045em; }
    .small-block-grid-11 > li:nth-child(11n) {
      padding-left: 1.70455em;
      padding-right: 0.0em; }

  .small-block-grid-12 > li {
    width: 8.33333%;
    list-style: none; }
    .small-block-grid-12 > li:nth-of-type(n) {
      clear: none; }
    .small-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; }
    .small-block-grid-12 > li:nth-child(12n+1) {
      padding-left: 0em;
      padding-right: 1.71875em; }
    .small-block-grid-12 > li:nth-child(12n+2) {
      padding-left: 0.15625em;
      padding-right: 1.5625em; }
    .small-block-grid-12 > li:nth-child(12n+3) {
      padding-left: 0.3125em;
      padding-right: 1.40625em; }
    .small-block-grid-12 > li:nth-child(12n+4) {
      padding-left: 0.46875em;
      padding-right: 1.25em; }
    .small-block-grid-12 > li:nth-child(12n+5) {
      padding-left: 0.625em;
      padding-right: 1.09375em; }
    .small-block-grid-12 > li:nth-child(12n+6) {
      padding-left: 0.78125em;
      padding-right: 0.9375em; }
    .small-block-grid-12 > li:nth-child(12n+7) {
      padding-left: 0.9375em;
      padding-right: 0.78125em; }
    .small-block-grid-12 > li:nth-child(12n+8) {
      padding-left: 1.09375em;
      padding-right: 0.625em; }
    .small-block-grid-12 > li:nth-child(12n+9) {
      padding-left: 1.25em;
      padding-right: 0.46875em; }
    .small-block-grid-12 > li:nth-child(12n+10) {
      padding-left: 1.40625em;
      padding-right: 0.3125em; }
    .small-block-grid-12 > li:nth-child(12n+11) {
      padding-left: 1.5625em;
      padding-right: 0.15625em; }
    .small-block-grid-12 > li:nth-child(12n) {
      padding-left: 1.71875em;
      padding-right: 0em; } }
@media only screen and (min-width: 40.063em) {
  .medium-block-grid-1 > li {
    width: 100%;
    list-style: none; }
    .medium-block-grid-1 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }
    .medium-block-grid-1 > li:nth-child(1n) {
      padding-left: 0em;
      padding-right: 0em; }

  .medium-block-grid-2 > li {
    width: 50%;
    list-style: none; }
    .medium-block-grid-2 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }
    .medium-block-grid-2 > li:nth-child(2n+1) {
      padding-left: 0em;
      padding-right: 0.9375em; }
    .medium-block-grid-2 > li:nth-child(2n) {
      padding-left: 0.9375em;
      padding-right: 0em; }

  .medium-block-grid-3 > li {
    width: 33.33333%;
    list-style: none; }
    .medium-block-grid-3 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }
    .medium-block-grid-3 > li:nth-child(3n+1) {
      padding-left: 0em;
      padding-right: 1.25em; }
    .medium-block-grid-3 > li:nth-child(3n+2) {
      padding-left: 0.625em;
      padding-right: 0.625em; }
    .medium-block-grid-3 > li:nth-child(3n) {
      padding-left: 1.25em;
      padding-right: 0em; }

  .medium-block-grid-4 > li {
    width: 25%;
    list-style: none; }
    .medium-block-grid-4 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }
    .medium-block-grid-4 > li:nth-child(4n+1) {
      padding-left: 0em;
      padding-right: 1.40625em; }
    .medium-block-grid-4 > li:nth-child(4n+2) {
      padding-left: 0.46875em;
      padding-right: 0.9375em; }
    .medium-block-grid-4 > li:nth-child(4n+3) {
      padding-left: 0.9375em;
      padding-right: 0.46875em; }
    .medium-block-grid-4 > li:nth-child(4n) {
      padding-left: 1.40625em;
      padding-right: 0em; }

  .medium-block-grid-5 > li {
    width: 20%;
    list-style: none; }
    .medium-block-grid-5 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }
    .medium-block-grid-5 > li:nth-child(5n+1) {
      padding-left: 0em;
      padding-right: 1.5em; }
    .medium-block-grid-5 > li:nth-child(5n+2) {
      padding-left: 0.375em;
      padding-right: 1.125em; }
    .medium-block-grid-5 > li:nth-child(5n+3) {
      padding-left: 0.75em;
      padding-right: 0.75em; }
    .medium-block-grid-5 > li:nth-child(5n+4) {
      padding-left: 1.125em;
      padding-right: 0.375em; }
    .medium-block-grid-5 > li:nth-child(5n) {
      padding-left: 1.5em;
      padding-right: 0em; }

  .medium-block-grid-6 > li {
    width: 16.66667%;
    list-style: none; }
    .medium-block-grid-6 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }
    .medium-block-grid-6 > li:nth-child(6n+1) {
      padding-left: 0em;
      padding-right: 1.5625em; }
    .medium-block-grid-6 > li:nth-child(6n+2) {
      padding-left: 0.3125em;
      padding-right: 1.25em; }
    .medium-block-grid-6 > li:nth-child(6n+3) {
      padding-left: 0.625em;
      padding-right: 0.9375em; }
    .medium-block-grid-6 > li:nth-child(6n+4) {
      padding-left: 0.9375em;
      padding-right: 0.625em; }
    .medium-block-grid-6 > li:nth-child(6n+5) {
      padding-left: 1.25em;
      padding-right: 0.3125em; }
    .medium-block-grid-6 > li:nth-child(6n) {
      padding-left: 1.5625em;
      padding-right: 0em; }

  .medium-block-grid-7 > li {
    width: 14.28571%;
    list-style: none; }
    .medium-block-grid-7 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }
    .medium-block-grid-7 > li:nth-child(7n+1) {
      padding-left: 0em;
      padding-right: 1.60714em; }
    .medium-block-grid-7 > li:nth-child(7n+2) {
      padding-left: 0.26786em;
      padding-right: 1.33929em; }
    .medium-block-grid-7 > li:nth-child(7n+3) {
      padding-left: 0.53571em;
      padding-right: 1.07143em; }
    .medium-block-grid-7 > li:nth-child(7n+4) {
      padding-left: 0.80357em;
      padding-right: 0.80357em; }
    .medium-block-grid-7 > li:nth-child(7n+5) {
      padding-left: 1.07143em;
      padding-right: 0.53571em; }
    .medium-block-grid-7 > li:nth-child(7n+6) {
      padding-left: 1.33929em;
      padding-right: 0.26786em; }
    .medium-block-grid-7 > li:nth-child(7n) {
      padding-left: 1.60714em;
      padding-right: 0em; }

  .medium-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
    .medium-block-grid-8 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }
    .medium-block-grid-8 > li:nth-child(8n+1) {
      padding-left: 0em;
      padding-right: 1.64063em; }
    .medium-block-grid-8 > li:nth-child(8n+2) {
      padding-left: 0.23438em;
      padding-right: 1.40625em; }
    .medium-block-grid-8 > li:nth-child(8n+3) {
      padding-left: 0.46875em;
      padding-right: 1.17188em; }
    .medium-block-grid-8 > li:nth-child(8n+4) {
      padding-left: 0.70313em;
      padding-right: 0.9375em; }
    .medium-block-grid-8 > li:nth-child(8n+5) {
      padding-left: 0.9375em;
      padding-right: 0.70313em; }
    .medium-block-grid-8 > li:nth-child(8n+6) {
      padding-left: 1.17188em;
      padding-right: 0.46875em; }
    .medium-block-grid-8 > li:nth-child(8n+7) {
      padding-left: 1.40625em;
      padding-right: 0.23438em; }
    .medium-block-grid-8 > li:nth-child(8n) {
      padding-left: 1.64063em;
      padding-right: 0em; }

  .medium-block-grid-9 > li {
    width: 11.11111%;
    list-style: none; }
    .medium-block-grid-9 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }
    .medium-block-grid-9 > li:nth-child(9n+1) {
      padding-left: 0em;
      padding-right: 1.66667em; }
    .medium-block-grid-9 > li:nth-child(9n+2) {
      padding-left: 0.20833em;
      padding-right: 1.45833em; }
    .medium-block-grid-9 > li:nth-child(9n+3) {
      padding-left: 0.41667em;
      padding-right: 1.25em; }
    .medium-block-grid-9 > li:nth-child(9n+4) {
      padding-left: 0.625em;
      padding-right: 1.04167em; }
    .medium-block-grid-9 > li:nth-child(9n+5) {
      padding-left: 0.83333em;
      padding-right: 0.83333em; }
    .medium-block-grid-9 > li:nth-child(9n+6) {
      padding-left: 1.04167em;
      padding-right: 0.625em; }
    .medium-block-grid-9 > li:nth-child(9n+7) {
      padding-left: 1.25em;
      padding-right: 0.41667em; }
    .medium-block-grid-9 > li:nth-child(9n+8) {
      padding-left: 1.45833em;
      padding-right: 0.20833em; }
    .medium-block-grid-9 > li:nth-child(9n) {
      padding-left: 1.66667em;
      padding-right: 0em; }

  .medium-block-grid-10 > li {
    width: 10%;
    list-style: none; }
    .medium-block-grid-10 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }
    .medium-block-grid-10 > li:nth-child(10n+1) {
      padding-left: 0em;
      padding-right: 1.6875em; }
    .medium-block-grid-10 > li:nth-child(10n+2) {
      padding-left: 0.1875em;
      padding-right: 1.5em; }
    .medium-block-grid-10 > li:nth-child(10n+3) {
      padding-left: 0.375em;
      padding-right: 1.3125em; }
    .medium-block-grid-10 > li:nth-child(10n+4) {
      padding-left: 0.5625em;
      padding-right: 1.125em; }
    .medium-block-grid-10 > li:nth-child(10n+5) {
      padding-left: 0.75em;
      padding-right: 0.9375em; }
    .medium-block-grid-10 > li:nth-child(10n+6) {
      padding-left: 0.9375em;
      padding-right: 0.75em; }
    .medium-block-grid-10 > li:nth-child(10n+7) {
      padding-left: 1.125em;
      padding-right: 0.5625em; }
    .medium-block-grid-10 > li:nth-child(10n+8) {
      padding-left: 1.3125em;
      padding-right: 0.375em; }
    .medium-block-grid-10 > li:nth-child(10n+9) {
      padding-left: 1.5em;
      padding-right: 0.1875em; }
    .medium-block-grid-10 > li:nth-child(10n) {
      padding-left: 1.6875em;
      padding-right: 0em; }

  .medium-block-grid-11 > li {
    width: 9.09091%;
    list-style: none; }
    .medium-block-grid-11 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }
    .medium-block-grid-11 > li:nth-child(11n+1) {
      padding-left: 0.0em;
      padding-right: 1.70455em; }
    .medium-block-grid-11 > li:nth-child(11n+2) {
      padding-left: 0.17045em;
      padding-right: 1.53409em; }
    .medium-block-grid-11 > li:nth-child(11n+3) {
      padding-left: 0.34091em;
      padding-right: 1.36364em; }
    .medium-block-grid-11 > li:nth-child(11n+4) {
      padding-left: 0.51136em;
      padding-right: 1.19318em; }
    .medium-block-grid-11 > li:nth-child(11n+5) {
      padding-left: 0.68182em;
      padding-right: 1.02273em; }
    .medium-block-grid-11 > li:nth-child(11n+6) {
      padding-left: 0.85227em;
      padding-right: 0.85227em; }
    .medium-block-grid-11 > li:nth-child(11n+7) {
      padding-left: 1.02273em;
      padding-right: 0.68182em; }
    .medium-block-grid-11 > li:nth-child(11n+8) {
      padding-left: 1.19318em;
      padding-right: 0.51136em; }
    .medium-block-grid-11 > li:nth-child(11n+9) {
      padding-left: 1.36364em;
      padding-right: 0.34091em; }
    .medium-block-grid-11 > li:nth-child(11n+10) {
      padding-left: 1.53409em;
      padding-right: 0.17045em; }
    .medium-block-grid-11 > li:nth-child(11n) {
      padding-left: 1.70455em;
      padding-right: 0.0em; }

  .medium-block-grid-12 > li {
    width: 8.33333%;
    list-style: none; }
    .medium-block-grid-12 > li:nth-of-type(n) {
      clear: none; }
    .medium-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; }
    .medium-block-grid-12 > li:nth-child(12n+1) {
      padding-left: 0em;
      padding-right: 1.71875em; }
    .medium-block-grid-12 > li:nth-child(12n+2) {
      padding-left: 0.15625em;
      padding-right: 1.5625em; }
    .medium-block-grid-12 > li:nth-child(12n+3) {
      padding-left: 0.3125em;
      padding-right: 1.40625em; }
    .medium-block-grid-12 > li:nth-child(12n+4) {
      padding-left: 0.46875em;
      padding-right: 1.25em; }
    .medium-block-grid-12 > li:nth-child(12n+5) {
      padding-left: 0.625em;
      padding-right: 1.09375em; }
    .medium-block-grid-12 > li:nth-child(12n+6) {
      padding-left: 0.78125em;
      padding-right: 0.9375em; }
    .medium-block-grid-12 > li:nth-child(12n+7) {
      padding-left: 0.9375em;
      padding-right: 0.78125em; }
    .medium-block-grid-12 > li:nth-child(12n+8) {
      padding-left: 1.09375em;
      padding-right: 0.625em; }
    .medium-block-grid-12 > li:nth-child(12n+9) {
      padding-left: 1.25em;
      padding-right: 0.46875em; }
    .medium-block-grid-12 > li:nth-child(12n+10) {
      padding-left: 1.40625em;
      padding-right: 0.3125em; }
    .medium-block-grid-12 > li:nth-child(12n+11) {
      padding-left: 1.5625em;
      padding-right: 0.15625em; }
    .medium-block-grid-12 > li:nth-child(12n) {
      padding-left: 1.71875em;
      padding-right: 0em; } }
@media only screen and (min-width: 64.063em) {
  .large-block-grid-1 > li {
    width: 100%;
    list-style: none; }
    .large-block-grid-1 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }
    .large-block-grid-1 > li:nth-child(1n) {
      padding-left: 0em;
      padding-right: 0em; }

  .large-block-grid-2 > li {
    width: 50%;
    list-style: none; }
    .large-block-grid-2 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }
    .large-block-grid-2 > li:nth-child(2n+1) {
      padding-left: 0em;
      padding-right: 0.9375em; }
    .large-block-grid-2 > li:nth-child(2n) {
      padding-left: 0.9375em;
      padding-right: 0em; }

  .large-block-grid-3 > li {
    width: 33.33333%;
    list-style: none; }
    .large-block-grid-3 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }
    .large-block-grid-3 > li:nth-child(3n+1) {
      padding-left: 0em;
      padding-right: 1.25em; }
    .large-block-grid-3 > li:nth-child(3n+2) {
      padding-left: 0.625em;
      padding-right: 0.625em; }
    .large-block-grid-3 > li:nth-child(3n) {
      padding-left: 1.25em;
      padding-right: 0em; }

  .large-block-grid-4 > li {
    width: 25%;
    list-style: none; }
    .large-block-grid-4 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }
    .large-block-grid-4 > li:nth-child(4n+1) {
      padding-left: 0em;
      padding-right: 1.40625em; }
    .large-block-grid-4 > li:nth-child(4n+2) {
      padding-left: 0.46875em;
      padding-right: 0.9375em; }
    .large-block-grid-4 > li:nth-child(4n+3) {
      padding-left: 0.9375em;
      padding-right: 0.46875em; }
    .large-block-grid-4 > li:nth-child(4n) {
      padding-left: 1.40625em;
      padding-right: 0em; }

  .large-block-grid-5 > li {
    width: 20%;
    list-style: none; }
    .large-block-grid-5 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }
    .large-block-grid-5 > li:nth-child(5n+1) {
      padding-left: 0em;
      padding-right: 1.5em; }
    .large-block-grid-5 > li:nth-child(5n+2) {
      padding-left: 0.375em;
      padding-right: 1.125em; }
    .large-block-grid-5 > li:nth-child(5n+3) {
      padding-left: 0.75em;
      padding-right: 0.75em; }
    .large-block-grid-5 > li:nth-child(5n+4) {
      padding-left: 1.125em;
      padding-right: 0.375em; }
    .large-block-grid-5 > li:nth-child(5n) {
      padding-left: 1.5em;
      padding-right: 0em; }

  .large-block-grid-6 > li {
    width: 16.66667%;
    list-style: none; }
    .large-block-grid-6 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }
    .large-block-grid-6 > li:nth-child(6n+1) {
      padding-left: 0em;
      padding-right: 1.5625em; }
    .large-block-grid-6 > li:nth-child(6n+2) {
      padding-left: 0.3125em;
      padding-right: 1.25em; }
    .large-block-grid-6 > li:nth-child(6n+3) {
      padding-left: 0.625em;
      padding-right: 0.9375em; }
    .large-block-grid-6 > li:nth-child(6n+4) {
      padding-left: 0.9375em;
      padding-right: 0.625em; }
    .large-block-grid-6 > li:nth-child(6n+5) {
      padding-left: 1.25em;
      padding-right: 0.3125em; }
    .large-block-grid-6 > li:nth-child(6n) {
      padding-left: 1.5625em;
      padding-right: 0em; }

  .large-block-grid-7 > li {
    width: 14.28571%;
    list-style: none; }
    .large-block-grid-7 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }
    .large-block-grid-7 > li:nth-child(7n+1) {
      padding-left: 0em;
      padding-right: 1.60714em; }
    .large-block-grid-7 > li:nth-child(7n+2) {
      padding-left: 0.26786em;
      padding-right: 1.33929em; }
    .large-block-grid-7 > li:nth-child(7n+3) {
      padding-left: 0.53571em;
      padding-right: 1.07143em; }
    .large-block-grid-7 > li:nth-child(7n+4) {
      padding-left: 0.80357em;
      padding-right: 0.80357em; }
    .large-block-grid-7 > li:nth-child(7n+5) {
      padding-left: 1.07143em;
      padding-right: 0.53571em; }
    .large-block-grid-7 > li:nth-child(7n+6) {
      padding-left: 1.33929em;
      padding-right: 0.26786em; }
    .large-block-grid-7 > li:nth-child(7n) {
      padding-left: 1.60714em;
      padding-right: 0em; }

  .large-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
    .large-block-grid-8 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }
    .large-block-grid-8 > li:nth-child(8n+1) {
      padding-left: 0em;
      padding-right: 1.64063em; }
    .large-block-grid-8 > li:nth-child(8n+2) {
      padding-left: 0.23438em;
      padding-right: 1.40625em; }
    .large-block-grid-8 > li:nth-child(8n+3) {
      padding-left: 0.46875em;
      padding-right: 1.17188em; }
    .large-block-grid-8 > li:nth-child(8n+4) {
      padding-left: 0.70313em;
      padding-right: 0.9375em; }
    .large-block-grid-8 > li:nth-child(8n+5) {
      padding-left: 0.9375em;
      padding-right: 0.70313em; }
    .large-block-grid-8 > li:nth-child(8n+6) {
      padding-left: 1.17188em;
      padding-right: 0.46875em; }
    .large-block-grid-8 > li:nth-child(8n+7) {
      padding-left: 1.40625em;
      padding-right: 0.23438em; }
    .large-block-grid-8 > li:nth-child(8n) {
      padding-left: 1.64063em;
      padding-right: 0em; }

  .large-block-grid-9 > li {
    width: 11.11111%;
    list-style: none; }
    .large-block-grid-9 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }
    .large-block-grid-9 > li:nth-child(9n+1) {
      padding-left: 0em;
      padding-right: 1.66667em; }
    .large-block-grid-9 > li:nth-child(9n+2) {
      padding-left: 0.20833em;
      padding-right: 1.45833em; }
    .large-block-grid-9 > li:nth-child(9n+3) {
      padding-left: 0.41667em;
      padding-right: 1.25em; }
    .large-block-grid-9 > li:nth-child(9n+4) {
      padding-left: 0.625em;
      padding-right: 1.04167em; }
    .large-block-grid-9 > li:nth-child(9n+5) {
      padding-left: 0.83333em;
      padding-right: 0.83333em; }
    .large-block-grid-9 > li:nth-child(9n+6) {
      padding-left: 1.04167em;
      padding-right: 0.625em; }
    .large-block-grid-9 > li:nth-child(9n+7) {
      padding-left: 1.25em;
      padding-right: 0.41667em; }
    .large-block-grid-9 > li:nth-child(9n+8) {
      padding-left: 1.45833em;
      padding-right: 0.20833em; }
    .large-block-grid-9 > li:nth-child(9n) {
      padding-left: 1.66667em;
      padding-right: 0em; }

  .large-block-grid-10 > li {
    width: 10%;
    list-style: none; }
    .large-block-grid-10 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }
    .large-block-grid-10 > li:nth-child(10n+1) {
      padding-left: 0em;
      padding-right: 1.6875em; }
    .large-block-grid-10 > li:nth-child(10n+2) {
      padding-left: 0.1875em;
      padding-right: 1.5em; }
    .large-block-grid-10 > li:nth-child(10n+3) {
      padding-left: 0.375em;
      padding-right: 1.3125em; }
    .large-block-grid-10 > li:nth-child(10n+4) {
      padding-left: 0.5625em;
      padding-right: 1.125em; }
    .large-block-grid-10 > li:nth-child(10n+5) {
      padding-left: 0.75em;
      padding-right: 0.9375em; }
    .large-block-grid-10 > li:nth-child(10n+6) {
      padding-left: 0.9375em;
      padding-right: 0.75em; }
    .large-block-grid-10 > li:nth-child(10n+7) {
      padding-left: 1.125em;
      padding-right: 0.5625em; }
    .large-block-grid-10 > li:nth-child(10n+8) {
      padding-left: 1.3125em;
      padding-right: 0.375em; }
    .large-block-grid-10 > li:nth-child(10n+9) {
      padding-left: 1.5em;
      padding-right: 0.1875em; }
    .large-block-grid-10 > li:nth-child(10n) {
      padding-left: 1.6875em;
      padding-right: 0em; }

  .large-block-grid-11 > li {
    width: 9.09091%;
    list-style: none; }
    .large-block-grid-11 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }
    .large-block-grid-11 > li:nth-child(11n+1) {
      padding-left: 0.0em;
      padding-right: 1.70455em; }
    .large-block-grid-11 > li:nth-child(11n+2) {
      padding-left: 0.17045em;
      padding-right: 1.53409em; }
    .large-block-grid-11 > li:nth-child(11n+3) {
      padding-left: 0.34091em;
      padding-right: 1.36364em; }
    .large-block-grid-11 > li:nth-child(11n+4) {
      padding-left: 0.51136em;
      padding-right: 1.19318em; }
    .large-block-grid-11 > li:nth-child(11n+5) {
      padding-left: 0.68182em;
      padding-right: 1.02273em; }
    .large-block-grid-11 > li:nth-child(11n+6) {
      padding-left: 0.85227em;
      padding-right: 0.85227em; }
    .large-block-grid-11 > li:nth-child(11n+7) {
      padding-left: 1.02273em;
      padding-right: 0.68182em; }
    .large-block-grid-11 > li:nth-child(11n+8) {
      padding-left: 1.19318em;
      padding-right: 0.51136em; }
    .large-block-grid-11 > li:nth-child(11n+9) {
      padding-left: 1.36364em;
      padding-right: 0.34091em; }
    .large-block-grid-11 > li:nth-child(11n+10) {
      padding-left: 1.53409em;
      padding-right: 0.17045em; }
    .large-block-grid-11 > li:nth-child(11n) {
      padding-left: 1.70455em;
      padding-right: 0.0em; }

  .large-block-grid-12 > li {
    width: 8.33333%;
    list-style: none; }
    .large-block-grid-12 > li:nth-of-type(n) {
      clear: none; }
    .large-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; }
    .large-block-grid-12 > li:nth-child(12n+1) {
      padding-left: 0em;
      padding-right: 1.71875em; }
    .large-block-grid-12 > li:nth-child(12n+2) {
      padding-left: 0.15625em;
      padding-right: 1.5625em; }
    .large-block-grid-12 > li:nth-child(12n+3) {
      padding-left: 0.3125em;
      padding-right: 1.40625em; }
    .large-block-grid-12 > li:nth-child(12n+4) {
      padding-left: 0.46875em;
      padding-right: 1.25em; }
    .large-block-grid-12 > li:nth-child(12n+5) {
      padding-left: 0.625em;
      padding-right: 1.09375em; }
    .large-block-grid-12 > li:nth-child(12n+6) {
      padding-left: 0.78125em;
      padding-right: 0.9375em; }
    .large-block-grid-12 > li:nth-child(12n+7) {
      padding-left: 0.9375em;
      padding-right: 0.78125em; }
    .large-block-grid-12 > li:nth-child(12n+8) {
      padding-left: 1.09375em;
      padding-right: 0.625em; }
    .large-block-grid-12 > li:nth-child(12n+9) {
      padding-left: 1.25em;
      padding-right: 0.46875em; }
    .large-block-grid-12 > li:nth-child(12n+10) {
      padding-left: 1.40625em;
      padding-right: 0.3125em; }
    .large-block-grid-12 > li:nth-child(12n+11) {
      padding-left: 1.5625em;
      padding-right: 0.15625em; }
    .large-block-grid-12 > li:nth-child(12n) {
      padding-left: 1.71875em;
      padding-right: 0em; } }
