/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
  height: 100%; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

body {
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Brandon text","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default; }

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.hide {
  display: none; }

.center{
  text-align: center;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }


.no-right-padding{
  padding-right: 0px !important;
}

em{
  font-family: 'Brandon text regular italic';
}

.hero h1{
  font-size: 2em;
  font-family: "Brandon text bold";
  color: #fff;
  margin-top: 1.5em;
}

.hero p{
  font-size: 1em;
  line-height: 1.5;
  color: #fff;
}

.button{
  background-color: #DE0000;
  padding: 10px;
  color:white;
  display: inline-block;
  border-radius:5px;
}

.button a{
  text-decoration: none;
  color: #fff;
}

.menu{
  margin-top:1.8em;
  display: inline-block;
  font-size: 0.9em;
}

.menu a{
  padding-right: 1.8em;
  font-size: 1em;
  color: black;
  text-decoration: none;
}

.menu a:last-child{
  padding-right: 0px;
}

.hero{
  background: #00b5d9;
  padding-bottom: 50px;
  margin-top: 20px;
}

.features-container{
  padding-top: 2em;
  position: relative;
}

.features-container:before{
content: ' ';
position: absolute;
top: -25px;
left: 0;
right: 0;
height: 50px;
background: transparent url('../img/header-4.png') repeat-x center top;
}

.wrapper{
    max-width:1200px;
    margin: 0px auto;
}

.components{
  text-align: center;
  border-bottom: 1px solid #ccc;
  display: none;
  width: 42%;
  margin: 0px auto;
  margin-bottom: 3em;
  padding-bottom: 10px;
  color: grey;
  font-family: "Brandon text italic"
}



h3{
    margin:0px;
    padding-bottom: 10px;
    font-family: "brandon text bold";
    font-size: 1.5em;
    color: #4D4A4A;
}

.heading{
  text-align: center;
  font-family: "Brandon text bold";
  color: #e30f33;
  font-size: 1.5em;
  margin-bottom: 0px;
  margin-top: 2em;

}

.feature{
  margin-bottom: 4em;
}

.app-container{
  background: #00b5d9;
  position: relative;
}

.app-container:before{
  content: ' ';
position: absolute;
top: -10px;
left: 0;
right: 0;
height: 12px;
background: transparent url('../img/blue-border-2.png') repeat-x center top;
}

.app-container:after{
  content: ' ';
position: absolute;
bottom: -10px;
left: 0;
right: 0;
height: 12px;
background: transparent url('../img/blue-border-2-invert.png') repeat-x center bottom;
}

.app-button{
  margin-right: 20px;
  display: inline-block;
  padding: 20px;
  background-color: #ccc;
}

h2.features-section{
  margin-top: 0px;
  margin-bottom: 2.5em;
}

h2.apps-section{
  color: #fff;
  font-size: 2em;
  font-family: 'Brandon text bold'
}

.apps p{
  color: white;
  line-height: 1.5;
}

.appstore-icon{
  height: 3em;
}

.windows-store{
  border-radius: 5px;
}

.how-they-use{
  padding-bottom: 5px;
  border-bottom: 3px dashed #00b5d9;
  opacity: 1;
  -webkit-transition: 0.3s opacity linear;
}

.features-body{
  line-height: 1.3;
}

.use-case{
  text-align: center;
}

.quote{
  padding: 3em;
  background: url(../img/scribble.png) no-repeat center;
  color: white;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  margin:0px;
  background-size: contain;
}

.quote span{
  position: absolute;
  right: 108px;
  bottom: 12px;
  color: #222;
  font-size: 0.8em;


}

.quote img{
  position: absolute;
  bottom: 2px;
  right: 42px;
}

h2.use-case{
  font-size: 2em;
  font-family: "Brandon text bold"
}

.end-line{
  color: #B7E1F5;
  font-family: "brandon text bold";
  padding: 1em;
}

.bottom-menu a{
  padding: 0px 20px;
  border-right: 1px solid #222;
  text-align: center;
  color: #222;
  margin: 0px auto;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 2em;
}

.bottom-menu a:last-child{
  border: none;
}

.bottom-menu{
  width: 32em;
  margin:0px auto;
  display: none;
}

.vcenter{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.img-container{
  height: 25em;
  text-align: center;
}

.img-container-footer{
  height: 13em;
  text-align: center;
  margin-bottom: 4em;
}

.client{
  padding: 1em;
  display: inline-block;
  height: 80px;
  width: 200px;
  vertical-align: middle;
}

.sennheiser{
  background: url(../img/sennheiser-long.png) center no-repeat;
}

.cbazaar{
  background: url(../img/cbazaar-long.png) center no-repeat;
}

.enchanting{
  background: url(../img/enchanting-long.png) center no-repeat;
}

.hult{
  background: url(../img/hult-long.png) center no-repeat;
}

.pdg{
  background: url(../img/pdg-long.png) center no-repeat;
}

  .windows-store{
    display: none;
  }
  .img-container{
    display: none;
  }
  .use-case{
    display: none;
  }

  em{
    font-family: "brandon text italic";
  }

.anchor{
  text-decoration: none;
  color: white;
  border-bottom: 1px solid #fff;
}

@media only screen and (min-width: 64.063em){

  .row{
    max-width: 1220px !important;
  }

  .row .row{
    max-width: none;
  }

  body{
    background: white url(../img/subtle_dots.png);
  }

  .menu a{
    padding-right: 2em;
  }

  .heading{
    margin: 0.83em 0;
  }

  .menu{
    font-size: 1em;
  }

  .hero h1{
    font-size: 3em;
  }

  .hero p{
    font-size: 1.3em;
  }

  .heading{
    font-size: 2.5em;
  }

  .components{
    display: block;
  }

  .features-container:before{
background: transparent url('../img/header-5.png') repeat-x center top;
}

  h2.apps-section{
    font-size: 2.5em;
  }

  h2.features-section{
    margin-bottom: 0.5em;
  }

  .quote{
    font-size: 1.4em;
    background-size: contain;
  }

  .quote span{
    bottom: 0px;
  }

  .bottom-menu{
    display: block;
  }

  .windows-store{
    display: inline-block;
  }
  .img-container{
    display: inline-block;
  }
  .use-case{
    display: block;
  }

}

@media only screen and (min-width: 40.063em) and (max-width: 64em){
  .row{
    max-width: 1024px !important;
  }

  .menu{
    font-size: 1em;
  }

  .hero p{
    font-size: 1.3em;
  }

  .heading{
    font-size: 2.5em;
    margin: 0.83em 0;
  }


  .components{
    display: block;
  }

  h2.apps-section{
    font-size: 2.5em;
  }

  .quote span{
    bottom: 0px;
  }

  .windows-store{
    display: none;
  }
  .img-container{
    display: inline-block;
  }
  .use-case{
    display: block;
  }
  .components{
    width: 51%;
  }
  .quote{
    font-size: 1.4em;
    background-size: 485px;
  }

  .hero h1{
    font-size: 2.5em;
  }
}